body {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    color: black;
    font-family: 'Courier New', monospace;
    margin: 0;
}

#mode{
    margin-top: 10px;
    position: absolute;
    right: 0;
}
#darkMode {
    width: 50px;
}
#darkMode:hover {
    width: 70px;
}
#lightMode {
    width: 50px;
}
#lightMode:hover {
    width: 70px;
}

.confettiLeft{
    width: 50vw;
    height: 40vh;
    position: fixed;
    left: 0;
    z-index: -1;
}
.confettiRight{
    width: 50vw;
    height: 40vh;
    position: fixed;
    right: 0;
    z-index: -1;
}

#mainText {
    text-align: center;
    font-size: 25px;
}

#mainImage {
    height: 40vh;
    margin-bottom: 20px;
}

#score{
    width: 80vw;
    text-align: center;
}

p {
    width: 80vw;
    text-align: center;
    font-size: 30px;
}

label {
    font-size: 25px;
}

#buttons {
    display: flex;
    flex-direction: column;
}

button {
    width: 150px;
    height: 50px;
    border: none;
    border-radius: 50px;
    font-size: 20px;
    font-family: 'Courier New', monospace;
    color: black;
    margin: 10px;
}

#next {
    margin: 20px;
}

.background {
    width: 100vw;
    height: 30vh;
    /* background-image: url('./img/grass.png');
    background-attachment: fixed;
    background-repeat: repeat-x;
    background-position: bottom; */
}


/* @media screen and (max-width: 600px){
} */