body{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    color : black;
    font-family: 'Courier New', monospace;
}

#mainText{
    text-align: center;
    font-size: 25px;
}

#mainImage{
    height: 40vh;
}

p{
    width: 80vw;
    text-align: center;
    font-size: 30px;
}

label{
    font-size: 20px;
}

#buttons{
    display: flex;
    flex-direction: column;
}

button{
    width: 150px;
    height: 50px;
    border: none;
    border-radius: 50px;
    font-size: 20px;
    font-family: 'Courier New', monospace;
    color: black;
    margin: 10px;
}

#next{
    margin: 20px;
}


/* @media screen and (max-width: 600px){
} */